<div class="container" style="background: white; padding: 1em">
  <h2>Crează-ți și tu propria tablă desenată ca aceasta</h2>
  <p style="text-align: center">
    Donează laptopul, tableta sau telefonul vechi pe Tableta Înmulțirii pentru Educație digitală cu șanse egale! Contribuie și tu la răspândirea mesajului cu propria tablă desenată.
  </p>
  <div class="fullwidth">
    <img [src]="imgSrc" class="imgclass s3"/>
    <div class="fullwidth buttons">
      <a mat-raised-button routerLink="/share/customize" color="primary" ><fa-icon icon="camera" style="margin-right: 0.25em"></fa-icon>Incearca</a>
      <a mat-raised-button routerLink="/donate" color="accent"><fa-icon icon="hand-holding-heart" style="margin-right: 0.25em"></fa-icon>Doneaza</a>
    </div>

  </div>
</div>
