<div class="container" style="background: white; padding: 1em">
  <h1>Contact</h1>
  <p> Ne puteti adresa intrebari si sugestii pe email-ul de contact</p>
  <button mat-raised-button (click)="showAddress()" *ngIf="notShown">
    Arata email
  </button>
  <p style="font-weight: bolder">{{email}}</p>

  <p class="fb-link" style="padding: 5px 15px; margin:auto;">
    <a style="background: #3B5998;
  color: white; font-size:30px;" href="https://fb.me/tableta.inmultirii" rel="noopener noreferrer"
        target="_blank"><fa-icon [icon]="['fab', 'facebook']"></fa-icon></a>
    Ne puteți contacta și pe Facebook pe pagina noastră
    <a style="color: white" href="https://fb.me/tableta.inmultirii" rel="noopener noreferrer"
       target="_blank" class="fa fa-facebook">Tableta Înmulțirii</a></p>
<!--  adds cookies-->
<!--  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Ffb.me%2Ftableta.inmultirii&width=450&layout=standard&action=like&size=large&share=true&height=35&appId" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>-->
<!--  <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftableta.inmultirii%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>-->
</div>
