<div class="container" style="background: white; padding: 1em">
  <div class="row">
    <div class="col-sm-12"><h1>Donatile mele</h1></div>
  </div>

  <ng-container *ngIf="donations">
    <div class="row">
      <div class="col-md-6 group" *ngFor="let donation of donations" [ngClass]="routeAnimationsElements">
        <anms-simple-card [icon]="donation.icon" [title]="donation.title" [subtitle]="donation.subtitle"
                          [sections]="donation.sections" [status]="donation.status"></anms-simple-card>
      </div>
    </div>
  </ng-container>

  <div class="row">
    <div class="col-md-6" >
      <a mat-raised-button class="actions-main" color="warn"
         [ngClass]="routeAnimationsElements"
         routerLink="/donate">
        Vreau sa &nbsp;ajut
      </a>
    </div>
  </div>
</div>
